*{
    margin: 0;
    padding: 0;
}

/* type selector */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* Id selector */

#main-header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* class selector */

.container{
    max-width: 800px;
    background-color: white;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Attribute selector */

[data-category="Technology"] {
    font-style: italic;
    color: blue;
    font-weight: 600;
}

/* Descendant Selector */
.post-content p {
    color: #34495e;
    margin-bottom: 20px;
    font-size: 20px;
}

.post-meta > span {
    margin-right: 15px;
    font-size: 20px;
}

h1,h2,h3 {
    margin-bottom: 20px;
}

/* pseudo class selector */

a:hover {
    color: red;
}